<form class="tab-pane active form-horizontal" name="userForm" novalidate ng-submit="save()">
    <div class="form-group" ng-class="{'has-error' : submitted && userForm.name.$invalid}" >
    	<label class="control-label col-md-3">Name<span class="required">*</span> </label>
    	<div class="col-md-4">
    		<input type="text" name="name" class="form-control" ng-model="user.name" required placeholder="Name">
    	</div>
    	<p ng-show="submitted && userForm.name.$invalid" class="help-block">Name is required.</p>
    </div>
    <div class="form-group" ng-class="{'has-error' : submitted && userForm.email.$invalid}">
        <label class="control-label col-md-3">Email <span class="required">* </span> </label>
        <div class="col-md-4">
            <input type="email" name="email" class="form-control" ng-model="user.email" required placeholder="test@example.com"/>
        </div>
        <p ng-show="submitted && userForm.email.$error.required" class="help-block">Email is required.</p>
        <p ng-show="submitted && userForm.email.$error.email" class="help-block">Enter valid email</p>
    </div>
    <div class="form-group" ng-class="{'has-error' : submitted && userForm.password.$invalid}">
        <label class="control-label col-md-3">Password <span class="required">* </span> </label>
        <div class="col-md-4">
            <input type="password" name="password" class="form-control" ng-model="user.password" required/>
        </div>
        <p ng-show=" submitted && userForm.password.$invalid" class="help-block">Password is required.</p>
    </div>
    <div class="form-group">
    	<div class="col-md-4 col-md-offset-2">
    		<a class="btn btn-default" href="/">Back</a>
    		<button type="submit" class="btn btn-primary" ng-click="submitted=true">Submit</button>
    	</div>
    </div>
</form>