<%= render 'shared/title', title: 'Posts' %>
<div class="row">
	<div class="col-md-6 pull-left">
		<% @posts.each_with_index do |post, i| %>
		<div class="post">
			<span><%= (i+1) %>.</span> <%= link_to post.title, '#' %>
		</div>
		<% end %>
	</div>
</div>