<form class="tab-pane active form-horizontal" name="postForm" novalidate ng-submit="save()" >
    <div class="form-group" >
        <label class="control-label col-md-3">Username: <span class="required">*</span> </label>
        <div class="col-md-4">
            <input type="text" name="username" class="form-control" ng-model="post.username" required placeholder="first name">
        </div>
    </div>

    <div class="form-group" ng-class="{'has-error' : submitted && postForm.title.$invalid}" >
    	<label class="control-label col-md-3">Title <span class="required">*</span> </label>
    	<div class="col-md-4">
    		<input type="text" name="title" class="form-control" ng-model="post.title" ng-maxlength="30" required placeholder="Title">
    	</div>
        <p ng-show="submitted && postForm.title.$error.required" class="help-block">Title is required.</p>
        <p ng-show="submitted && !!postForm.title.$error.maxlength" class="help-block">Maximum length is 30 characters!</p>
    </div>

    <div class="form-group" ng-class="{'has-error' : submitted && postForm.description.$invalid}">
        <label class="control-label col-md-3">Description <span class="required">* </span> </label>
        <div class="col-md-6">
            <textarea name="description" class="form-control" ng-model="post.description" ng-minlength="3" required placeholder="last name"></textarea>
        </div>
        <p ng-show="submitted && postForm.description.$error.required" class="help-block">Description is required.</p>
        <p ng-show="submitted && !!postForm.description.$error.minlength" class="help-block">Minimum length is 3 characters!</p>
    </div>

    <div class="form-group">
    	<div class="col-md-4 col-md-offset-2">
    		<a class="btn btn-default" href="/">Back</a>
    		<button type="submit" class="btn btn-primary" ng-click="submitted=true">Submit</button>
    	</div>
    </div>
</form>