<footer class="footer">
	<hr/>
	<div class="container">
	  <p class="pull-left vert-offset-top-1">© Blog 2016</p>
	  <div class="pull-right">
	    <ul class="nav navbar-nav">
	      <li><%= link_to 'Posts', root_path %></li>
	      <li><%= link_to 'Contact', '#' %></li>
	      <li><%= link_to 'Help', '#' %></li>
	    </ul>
	  </div>
  </div>
</footer>